<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hrvstr.predb-alfred</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>792A8C11-91EF-4E58-A38A-4F383006F8CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EB8EBA5-AAC5-4E2B-A31E-42562878AE1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD6FA4EC-5152-4B00-88E6-2E9EA45B945B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>792A8C11-91EF-4E58-A38A-4F383006F8CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hrvstr</string>
	<key>description</key>
	<string>Search for scene releases via PREdb.ovh</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PREdb</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>PREdb</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5EB8EBA5-AAC5-4E2B-A31E-42562878AE1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pre</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting results …</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search.sh</string>
				<key>subtext</key>
				<string>Search for '{query}' on PREdb</string>
				<key>title</key>
				<string>PREdb</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FD6FA4EC-5152-4B00-88E6-2E9EA45B945B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>792A8C11-91EF-4E58-A38A-4F383006F8CD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>requires jq

install with homebrew:
$ brew install jq</string>
	<key>uidata</key>
	<dict>
		<key>5EB8EBA5-AAC5-4E2B-A31E-42562878AE1A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>792A8C11-91EF-4E58-A38A-4F383006F8CD</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>FD6FA4EC-5152-4B00-88E6-2E9EA45B945B</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>http://hrvstr.github.io</string>
</dict>
</plist>
